/* maine information */

:root{
    --primary-text-color: #757575;
    --h-text-color: #212121;
    --accent-color: #2196F3;
    --adress-color: rgba(255, 255, 255, 0.6);
    --primary-white-color: #ffffff;
    --bg-color: hsl(235, 10%, 21%);
    --rgba-logo-black: rgba(0, 0, 0, 1);
    --rgba-logo-white: rgba(255, 255, 255, 1);
    --rgba-logo-blue: rgba(33, 150, 243, 1);
    --botton-bgd: #F5F4FA;
    --team-bgd:#F5F4FA;
    --border-color: #EEEEEE;
    --border-header: #ECECEC;
}

body{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    margin: 0 ;
}

h1, h2, h3, li, p{
    margin: 0;
}

ul{
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
}
.img{
    display: block;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.button{
    cursor: pointer;
    font-family: inherit;
    border: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.list{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
}
.section{
    padding-bottom: 94px;
    padding-top: 94px;
    align-items: center;
}


/* header */

header{
    border-bottom: 1px;
    border-style: solid;
    border-color: var(--border-header);

}
.maine-line{
    display: flex;
    align-items: center;
}
.logo.header{
    margin-right: 93px;
    padding: 24px 0 25px 0;
    display: flex;
}
.logo{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.19;
    font-size: 26px;
    text-decoration: none;
}
.logo-blue{
    color: var(--rgba-logo-blue);
}
.logo-black{
    color: var(--rgba-logo-black);
} 
.logo-white{
    color: var(--rgba-logo-white);
}

/* site nav  in header*/

.site-nav{
    display: flex;
    justify-content: space-around;
}
.site-nav .item{
    margin-right: 50px;
    /* padding: 32px 0; */
}
.site-nav .item:last-child{
    margin-right: 0;
}
.site-nav .link{
    color: var(--h-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 32px 0;
}
.site-nav .link.current{
    color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color);
    text-decoration: none;
}

/* auth nav in header */

.auth-nav{
    display: flex;    
    margin-left: auto;
}
.auth-nav .item{
    margin-right: 50px;
}
.auth-nav .item:last-child{
    margin-right: 0;
}
.auth-nav a{
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none; 
    padding: 32px 0;
}
.auth-nav a:hover,
.auth-nav a:focus{
    color: var(--accent-color);
}

/* footer */

footer{
    background-color: var(--bg-color);
    padding: 60px 0;
}
.footer.logo{
    display: flex;
    margin-bottom: 20px;
}
.adress{
    color: var(--primary-white-color);
    text-decoration: none;
}
.adress-list{
    margin-bottom: 9px;
}
.adress-list:last-child{
    margin-bottom: 0;
}
footer address{
    line-height: 1.71;
    font-style: normal;
}
footer address a:hover,
footer address a:focus{
    color: var(--accent-color);
}
.footer-emaile{
    color: var(--adress-color);
}
.footer-telephon{
    color: var(--adress-color);
}






/* body index*/


/* order */

.order{
    color: var(--primary-white-color);
    background-color: var(--bg-color);
    text-align: center;
    padding-bottom: 200px;
    padding-top: 200px;
    text-align: center;
}
.order-text{
    font-family: Roboto;
    font-weight: 900;
    letter-spacing: 0.06em;
    font-style: normal;
    text-transform: uppercase;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    margin-bottom: 30px;
}
.button.primary{
    font-family: Roboto;
    font-weight: 700;
    color: var(--primary-white-color);
    background: var(--accent-color);
    letter-spacing: 0.06em;
    font-size: 16px;
    line-height: 1.87;
    border-radius: 4px;
    min-width: 216px;
    padding: 10px 32px 10px 32px;
    text-align: center;
}


/* features */

.features-list{
    display: flex;
}
.features .features-list .item:last-child{
    margin-right: 0;
}
.features .item{
    margin-right: 30px;
    max-width: 270px;
}
.features .main-text{
    color: var(--h-text-color);
    font-size: 14px;
    line-height: 1.14;
    margin: 0;
    padding-bottom: 10px;
}

.features .text{
    line-height: 1.71;
    margin: 0;
    max-width: 270px;

}



/* examples */

.examples.section{
    padding-top: 0;
}
.examples .main-tex{
    color: var(--h-text-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}
.list-jpg{
    display: flex;
}
.list-jpg:last-child{
    margin-right: 0;
}
.list-jpg .item{
    margin-right: 30px;
}


/* team */

.team{
   background-color: var(--team-bgd);
}
.team .list{
    max-width: 270px;
    display: flex;
}
.team .list:last-child{
    margin-right: 0;
}
.team .list .item{
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-white-color);
}
.team .main{
    color: var(--h-text-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}

.text-people{
    padding-top: 30px;
    padding-bottom: 30px;
}
.team .main-text{
    color: var(--h-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
    text-align: center;
}

.team .text{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    padding-top: 0;
    margin: 0;
}





/* portfolio */


/* button-portfolio */

.list-filter{
    display: flex;
    justify-content: center;
    margin: 0 0 50px 0;
}
.button.filter{
    color: var(--h-text-color);
    background-color: var(--primary-white-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background-color: var(--botton-bgd);
    max-height: 38px;
    padding: 6px 22px;
    margin-right: 8px;
    border-radius: 4px;
}
.button.filte.current{
    background-color: var(--rgba-logo-blue);
    padding: 6px 25px;
}
.button.filter:hover,
.button.filter:focus{
    /* padding: 6px 25px; */
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

/* main text portfolio */


.portfolio .list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.portfolio .border{
    border: 1px;
    border-style: solid;
    border-color: var(--border-color);
    border-top: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;

}
.portfolio .item{
    width: 370px;
    height: 404px;
}
.portfolio .main-text{
    color: var(--h-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}
.portfolio .text{
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
}
